#root, .router-root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.page, .page-content, .page-content > .pusher {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  flex-grow: 1;
}

/*
.global-header {
  background-color: #252525;
  box-shadow: 0 0 20px rgba(34,36,38,.15);
  padding: 5px 20px;
}

.global-header h1 {
  display: inline;
  color: white;
  font-size: 1.5em;
}
*/

.main {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  flex-grow: 1;
}

.main-header {
  background-color: #20364c;
  color: white;
  font-size: 1.5em;
  padding: 10px;
  margin-bottom: 20px;
}

.main-content {
  padding: 0 10px;
  margin-left: 15vw;
}

.main-nav {
  background-color: #f9f9f9;
  width: 15vw;
  height: 100vh;
  position: fixed;
  font-size: 1.1em;
  overflow-y: auto;
  box-shadow: 1px 0px 20px 0px #e6e6e6;
  border-right: 1px solid #eee;
}

.main-nav ul {
  margin: 0;
  padding: 0;
}

.main-nav ul li {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.main-nav ul li a {
  color: #545454;
  padding: 8px 23px;
  display: block;
}

.main-nav ul li a:hover {
  background-color: #f1f1f1;
  border-left: 3px solid #bbb;
  padding: 8px 20px 8px 20px;
}

.main-nav ul li a.active {
  background-color: #ebf3f9;
  color: #4183c4;
  border-left: 3px solid #4183c4;
  padding: 8px 20px 8px 20px;
}

.main-content {
  flex-grow: 1;
}

.api-spec h1 {
  margin: 20px 0;
}

.api-spec-version {
  font-size: .5em;
  padding-left: 20px;
}

.api-def, .api-op, .api-info {
  padding-bottom: 80px;
  padding-top: 20px;
}

.api-spec-desc, .api-def-desc, .api-val-desc, .api-val-type, .api-op h4,
.api-op-desc {
  color: #545454;
}

.api-spec {
  display: table;
}

.api-row {
  display: table-row;
}

.api-spec h4 {
  margin-bottom: 5px;
}

.api-spec h4, .api-spec h2 {
  font-weight: normal
}

.api-spec h4 {
  border-bottom: 1px solid #f2f2f2;
  padding-bottom: 5px;
  margin-bottom: 15px;
}

.api-op-desc, .api-def-desc {
  margin-bottom: 40px;
}

.api-obj {
  width: 100%;
}

.api-obj tr:not(:first-child) td {
  border-top: 1px solid #f2f2f2;
}

.api-obj tr:first-child td {
  padding-top: 0;
}

.api-obj td {
  padding: 10px 0 20px 0;
  vertical-align: top;
}

td.api-val-key {
  width: 20%;
  text-align: right;
  padding-right: 25px;
}

.api-obj-key {
  margin-bottom: 5px;
  /* color: #59b17e; */
  font-size: 1.1em;
}

p > code {
  background-color: #f5f5f5;
  border: 1px solid #eee;
  margin: 0 3px;
  padding: 3px;
  color: #b74242;
  border-radius: 2px;
}

.api-val-type {
  font-size: .8rem;
  color: #bbb;
  white-space: pre;
}

.required-tag {
  color: #b74242;
  font-size: .8rem;
}

.api-spec {
  width: 100%;
}

.api-doc-col, .api-demo-col {
  display: table-cell;
}

.api-doc-col {
  padding: 0 30px;
  width: 60%;
}


.api-demo-col {
  background-color: #252525;
  color: #f5f5f5;
  padding: 30px;
}

.task-list {
  width: 100%;
}

.task-list th {
  text-align: left;
}
